<!DOCTYPE html>
<head><title>{{ .Name }} Extension Options</title></head>
<body>
<script src="globals.js"></script>
<script src="jquery-3.3.1.min.js"></script>
<label>
  Host
  <input id="host">
</label>
<p></p>
<label>
  Development Host
  <input id="dev-host">
</label>
<p></p>
<label>
  <input id="dev-mode" type="checkbox">
  Development Mode (use Development Host)
</label>
<script src="options.js"></script>
</body>
</html>